body{
    margin:0;
}
a{
    color:black;
    text-decoration:none;
}
h1{
    font-size: 60px;
    text-align: center;
    border-bottom:5px solid gray;
    margin:0; padding:20px;
}
ol{
    border-right:5px solid gray;
    margin:0; padding:20px; width:100px;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid ol{
    padding:32px;
}
#article{
    padding-left:25px;
}
@media(max-width:800px){
    h1{
        border-bottom:none;
    }
    ol{
        border-right:none;
    }
    #grid{
        display:block;
    }
}